.scoreboard {
  position: relative;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: auto;
  /*border: 1px solid black;*/
}

.scoreboard__title {

}

.scoreboard-names {
  display: flex;
  justify-content: space-between;
}

.scoreboard-names__name {
  width: 45%;
}

.scoreboard-names__name.submits {
  color: red;
}

.scoreboard-scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}

.scoreboard-scores__score {
  width: 45%;
  text-align: center;
  font-size: 25px;
}

.scoreboard-buttons {
  display: flex;
  justify-content: space-between;
}

.scoreboard-buttons__btn,
.scoreboard-dialog__btn{
  width: 45%;
  height: 45px;
  color: white;
  border: none;
  cursor: pointer;
}

.scoreboard-buttons__btn--1,
.scoreboard-dialog__btn--1{
  background-color: blue;
}

.scoreboard-buttons__btn--2,
.scoreboard-dialog__btn--2{
  background-color: red;
}

.scoreboard-dialog {
  display: none;
}

.scoreboard-dialog--show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}

.scoreboard-dialog__title {

}

.scoreboard-dialog__btns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.scoreboard-dialog__btn {
  width: 45%;
}